/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px 7.5%;
}

.x-container {
  display: flex;
  justify-content: flex-end;
}

.x-container button {
  padding: 5px;
}

.x-container svg {
  font-size: 20px;
}

.dark-green-hover:hover{
  color: rgb(0,180,5);
}

.hidden {
  display: none;
}

.orange-red {
  color: rgb(255,80,0);
}

.orange-red.orange-red-bottom-border {
  border-bottom: 2px solid rgb(255,80,0);
}