/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-child {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px 7.5%;
}

.x-container {
  display: flex;
  justify-content: flex-end;
}

.x-container button {
  padding: 5px;
}

.x-container svg {
  font-size: 20px;
}

.green {
  color: rgb(0,200,5)
}

.dark-green-hover:hover{
  color: rgb(0,180,5);
}

.light-green-hover:hover {
  color: rgb(38,208,43);
}

.dark-green-hover.hovered{
  color: rgb(0,180,5);
}

.red-hover:hover{
  color: rgb(255,80,0);
}

.light-red-hover:hover{
  color: rgb(255,106,38);
}

.red-hover.hovered{
  color: rgb(255,80,0);
}

.red-border-focus:focus{
  border-color: rgb(255,80,0);
}

.red-border{
  border-color: rgb(255,80,0);
}

.dark-green-border-focus:focus{
  border-color: rgb(0,180,5)
}

.red-border-focus-within:focus-within{
  border-color: rgb(255,80,0);
}

.dark-green-border-focus-within:focus-within{
  border-color: rgb(0,180,5)
}

.hidden {
  display: none !important;
}

.red {
  color: rgb(255,80,0);
}

.red-bottom-border {
  border-bottom: 2px solid rgb(255,80,0);
}

.red-background {
  background-color: rgb(255,80,0);
}

.dark-green {
  color: rgb(0,180,5);
}

.dark-green-bottom-border {
  border-bottom: 2px solid rgb(0,180,5);
}

.dark-green-background {
  background-color: rgb(0,180,5);
}


.darkish-gray {
  color: rgb(48,54,58);
}

.black {
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: rgb(0,180,5);
  transition: 0.4s;
  border-radius: 17px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-reversed {
  background-color:rgb(255,80,0);
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(255,80,0);
}

input:checked + .slider-reversed {
  background-color: rgb(0,180,5);
}

input:checked + .slider:before {
  transform: translateX(13px);
}

@media (max-width: 1023px) {
  .hidden-1024 {
    display: none !important;
  }
}

.no-height {
  height: 0;
  padding: 0;
  margin: 0;
}

.flash {
  box-shadow: 0px 24px 48px rgb(51,51,51), 0px -24px 48px rgb(51,51,51);
}