@import "variables";

.dark {
    background-color: black;
    color: white;
}

.dashboard-header {
    position: fixed;
    height: 64px;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: black;
}

.dashboard-header-centering-div {
    margin: 0 auto;
    max-width: 100%;
    width: 1024px;
    display: flex;
    height: 64px;
    align-items: center;
    flex-wrap: nowrap;
}

.dashboard-logo-link {
    margin-right: 6px;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        height: 30px;
        width: 30px;
    }
}

.search-bar-sizer {
    flex-basis: 480px;
    min-width: 160px;
    position: relative;
    height: 36px;
}

.search-bar-and-dropdown-container {
    border: 1px solid $darkish-gray;
    background-color: rgba(0,0,0,0.87);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    box-sizing: border-box;
    transition: border-color 300ms ease 0s, box-shadow 300ms ease 0s;
    font-size: 13.5px;
    letter-spacing: -0.25px;
}

.search-bar-and-dropdown-container:hover,
.search-bar-and-dropdown-container:focus-within {
    box-shadow: 0px 12px 24px $shadow, 0px -12px 24px $shadow; 
    // background-color: $darker-gray;
}

.search-bar-icon-input-container {
    display: flex;
    height: 34px;
    padding-left: 24px;
    align-items: center;
}

.search-bar-icon-input-container:focus-within svg.search-icon {
    color: white;
}

.search-icon-container {
    display: flex;
    align-items: conter;
    margin-right: 5px;
    flex: 0 0 auto;
}

.search-icon {
    height: 24px;
    width: 24px;
    color: $lightish-gray;
}

.search {
    color: white;
    width: 100%;
}

.dashboard-nav-links-positioner {
    padding: 0 4px 0 6px;
    flex-shrink: 0;
    margin-left: auto;
}

.dashboard-nav-links-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 34px;
}

@media (min-width: 1200px) {
    .dashboard-nav-links-positioner {
        position: absolute;
        right: 48px;
    }   
    .dashboard-logo-link {
        position: absolute;
        left: 48px;
        margin: 0px;
    }
}

.dashboard-nav-links-wrapper > li {
    margin-left: 33px;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: 0.25px;
}

.navbar-link {
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    height: 20px;
}

.account-dropdown {
    position: absolute;
    top: 27px;
    padding: 18px 0 0;
    right: -12px;
    width: 296px;
    box-sizing: border-box;
    background-color: $darker-gray;
    border: 1px solid $darkishish-gray;
    border-radius: 4px;
}

.absolute-positioner {
    position: relative;
}

.account-dropdown-header {
    border-bottom: 1px solid $darkishish-gray;
    padding: 0px 24px 12px;

    h3 {
        margin: 0px;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.65px;
    }
    
    div > h3 {
        padding-bottom: 2px;
    }

    p {
        font-weight: 400;
    }
}

.dropdown-header-account-summary {
    margin-top: 12px;
    display: flex;
}

.port-val-div {
    margin-right: 36px;
}

.account-dropdown-container {
    border-bottom: 1px solid $darkishish-gray;
    a {
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 24px;
        :hover {
            background-color: $darkish-gray;
        }
    }
}

.logout {
    border-bottom: none;
}

.account-dropdown-item:hover {
    background-color: $darkish-gray;
}

.account-dropdown-item-container {
    display: flex;
    align-items: center;

    svg {
        height: 24px;
        width: 24px;
        margin-right: 12px;
    }
}

.scroll-bar-correction {
    margin-left: calc(100vw - 100%);
    height: 100%;
}

.post-auth-centering-div {
    margin: 0 auto;
    width: 1024px;
    padding-top: 100px;
    height: calc(100% - 100px);
}

.post-auth-main-div {
    margin: 0 -6px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.post-auth-main-content {
    width: auto;
    flex: 0 0 66.66667%;
    padding-left: 6px;
    padding-right: 6px;
}

.dashboard-sidebar-spacer {
    flex: 0 0 25%;
    padding-left: 6px;
    padding-right: 6px;
}

.dashboard-sidebar-wrapper {
    box-sizing: border-box;
    height: calc(100% - 95px);
    margin-left: -24px;
    margin-top: -24px;
    padding: 24px;
    position: fixed;
    top: 95px;
    width: 324px;
}

.sidebar-placeholder {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: $darker-gray;
    border: 1px solid $darkishish-gray;
    border-top: 2px solid $darkishish-gray;
    border-radius: 4px;
}

.chart-header {
    margin-bottom: 12px;
    height: 95px;
}

.post-auth-title {
    transition: color 0.3s;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.1px;
}

.chart-header-subinfo {
    padding-top: 2px;
    box-sizing: border-box;

    p {
        font-weight: 700;
    }
}

.chart-wrapper {
    margin-bottom: 44px;
}

.graph-view {
    color: $lightish-gray;
    font-weight: 400;
}

#chartjs-tooltip {
    color: $lightish-gray;
    display: flex;
    justify-content: center;
}

.chart-selector-spacer {
    border-bottom: 1px solid $darkishish-gray;
    margin-top: 24px;
    box-sizing: border-box;
    display: relative;
    height: 31px
}

.chart-selector-flex-container {
    display: flex;
    font-weight: 700;
}

.chart-selector-link {
    padding-right: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}

.chart-selector-link-text {
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
}

.chart-selector-link:first-child {
    padding-left: 0px;
}

.chart-selector-link-selected-dark-green > .chart-selector-link-text {
    color: $dark-green;
    border-bottom: 2px solid $green;
}

.chart-selector-link-selected-red > .chart-selector-link-text {
    color: $red;
    border-bottom: 2px solid $red;
}

.cash-spacer {
    margin-bottom: 60px;
    margin-top: -36px;
}

.cash-container {
    box-sizing: border-box;
    border-radius: 4px;
    transition: background-color 400ms ease 0s, box-shadow 1000ms ease 0ms, margin-bottom 400ms ease 0s;
    margin: 0 -24px 12px -24px;
}

.cash-container-expanded {
    background-color: $darker-gray;
}

.cash-expander-button {
    border-radius: 4px;
    padding: 0 24px;
    width: 100%;
}

.cash-expander-button:hover {
    background-color: $darker-gray;
}

.cash-button-clicked {
    background-color: $darkish-gray !important;
}

.cash-button-expanded {
    background-color: $darker-gray;
}

.cash-button-text-container {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid $darkish-gray;
    padding: 24px 0;
}

.cash-form-div {
    visibility: hidden;
    opacity: 0;
    transition: visiblity 0s, opacity 0.4s ease, padding-top 400ms ease 0s, padding 400ms ease 0s;
    padding: 24px 24px 0 24px;
}

.cash-form-div-expanded {
    visibility: visible;
    opacity: 1;
}

.cash-deposit-toggle-wrapper {
 margin: 0 6px;
}

.cash-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.cash-buttons > .cash-button {
    height: 36px;
    min-width: 72px;
    padding: 0 18px;
    border-radius: 24px;
    font-size: 13px;
    line-height: 20px;
    transition: 0.4s ease;
    border: 2px solid transparent;
    font-weight: 600;
}

.cash-button:hover {
    transition: 0s;
    opacity: 0.8;
}

.cash-button:active:hover {
    border: 2px solid black;
}

.cash-button > span {
    width: 8px;
    text-align: right;
}

.cash-toggles-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    button {
        transition: color 0.4s ease;
    }
}

.cash-options-toggle-container {
    button {
        transition: color 0.4s ease;        
    }
}

.cash-form-options-div {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease;
    padding-top: 24px;
    border-top: 1px solid $darkishish-gray;
}

.cash-form-options-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    input {
        margin-left: 9px;
    }
}

.cash-form-options-div-expanded {
    visibility: visible;
    opacity: 1;
}

.dollar-input {
    background-color: $darkish-gray;
    border: 1px solid $darkish-gray;
    font-weight: 400;
    text-align: right;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.2s ease;
    height: 36px;
    width: 136px;
}

.dollar-input {
    background-color: $darkish-gray;
    border: 1px solid $darkish-gray;
    font-weight: 400;
    text-align: right;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.2s ease;
    height: 36px;
    width: 136px;
}

.dollar-input:hover {
    background-color: $darker-gray;
}

.dollar-input:focus {
    background-color: $darker-gray;
}

.cash-form-time {
    background-color: $darkish-gray;
    border: 1px solid $darkish-gray;
    font-weight: 400;
    text-align: right;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.2s ease;
    height: 36px;
    width: 120px;
    cursor: text !important;
}

.cash-form-date {
    background-color: $darkish-gray;
    border: 1px solid $darkish-gray;
    font-weight: 400;
    text-align: right;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.2s ease;
    height: 36px;
    width: 150px;
    cursor: text;
}

.cash-form-date:hover {
    background-color: $darker-gray;
}

.cash-form-time:hover {
    background-color: $darker-gray;
}


.cash-form-date:focus-within, .cash-form-time:focus-within {
    background-color: $darker-gray;
}

.rounded-button.cash-option-submit {
    height: 36px;
    min-width: 121px;
    padding: 0 27px;
    font-weight: 600;
    font-size: 15px;
    transition: 0.4s;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.cash-option-submit:hover {
    transition: 0s;
    opacity: 0.8;
}

.cash-option-submit:active:hover {
    border: 2px solid black;
}

.cash-form-options-bottom-text {
    color: $red;
    padding-bottom: 2px;
    span {
        margin-left: 177px;
    }
    a {
        text-decoration: underline;
    }
}

.seach-dropdown-container > div:last-child {
    padding-bottom: 24px;
}

.seach-dropdown-container > div:last-child:empty {
    padding-bottom: 0px;
}

.dropdown-header { 
 padding: 12px 0;
 color: $lightish-gray;
 padding-left: 24px;
}

.search-result-item > span {
    display: inline-block;
    padding: 5px 20px 5px 0;
    min-width: 80px;
    max-width: 350px;
    span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }
}

.search-result-item {
    display: block;
    padding-left: 24px;
    width: 100%;
    height: 100%;
    white-space: pre;
}

.search-result-item:hover {
    background-color: rgba(48,54,58, 0.75);
}

.search-result-item.selected {
    background-color: rgba(48,54,58, 0.75);
}

.stock-ownership-positioner {
    letter-spacing: 0.25px;
    margin-bottom: 60px;
    margin-top: 12px;
    display: flex;
    > div {
        padding: 24px;
        flex: 1 1 0;
        border-radius: 4px;
        box-sizing: border-box;
        border: 1px solid $darkish-gray;
        margin-bottom: 12px;
    }
    > div:first-child {
        margin-right: 6px;
    }
    > div:last-child {
        margin-left: 6px;
    }
    h3 {
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
    }
}

.stock-ownership-sub-container > div {
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
    border-bottom: 1px solid $darkish-gray;
    :last-child {
        border-bottom: 0px;
    }
}

.stock-ownership-sub-container > div:last-child {
    border-bottom: 0px;
}

.stock-about-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 24px;
    border-bottom: 1px solid $darkish-gray;
    h2 {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

.stock-about-header  > span {
    display: flex;
    align-items: flex-end;
}

.stock-about-positioner {
    margin-bottom: 60px;
}

.stock-description-positioner {
    max-width: 570px;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 24px;
}

.stock-items {
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
}

.stock-item {
    flex-basis: calc(25% - 12px);
    margin: 0 6px 12px;
    letter-spacing: 0.25px;
}

.stock-item > * {
    margin: 0;
}

.stock-items > :nth-child(4n+1) {
    margin-left: 0px;
}

.news-title {
    border-bottom: 1px solid $darkish-gray;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.news-container {
    margin-bottom: 60px;
}

.news-item {
    padding: 30px;
    margin: 0 -30px;
    display: flex;
    justify-content: space-between;
    min-height: 134px;
    border-radius: 4px;
    box-sizing: border-box;
    img {
        width: 196px;
        height: 134px;
        object-fit: cover;
    }
}

.news-item-body {
    margin: 4px 0;
    max-height: 10.5ex;
    max-width: 420px;
    overflow: hidden;
    letter-spacing: 0.15px;
    h3 {
        margin-bottom: 2px;
        font-size: 15px;
        font-weight: 100;
        max-height: 40px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $lightish-gray;
    }
}

.news-item:hover {
    background-color: $darker-gray;
    transition: background-color 0.15s;
}

.news-item-header > span:last-child {
    margin-left: 6px;
    color: $lightish-gray;
}

.buy-sell-sizer {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    border-bottom: 1px solid $darkishish-gray;
    min-height: 52px;
    box-sizing: border-box;
}

.buy-sell-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    transition: border-color 0.25s;
    
}

.buy-sell-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    transition: border-color 0.25s;
    
}

.buy-sell-button-positioner {
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 12px;
    padding-top: 2px;
    position: relative;
    top: 1px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.25px;
    min-height: 52px;
    box-sizing: border-box;
}

.buy-sell-button-positioner.selected.red {
    border-color: $red;
}

.buy-sell-button-positioner.selected.dark-green {
    border-color: $dark-green;
}

.order-info-positioner {
    padding: 12px 24px 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.25px;
    > div {
        min-height: 48px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    > div:last-child {
        border-top: 1px solid $darkishish-gray;
    }
    flex-wrap: wrap;
}

.order-form {
    background-color: $darker-gray;
    border-radius: 4px;
    border: 1px solid $darkishish-gray;
}

.share-input {
    background-color: $darkish-gray;
    border: 1px solid $darkish-gray;
    font-weight: 400;
    text-align: right;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.2s ease;
    height: 36px;
    width: 82px;
}

.order-button-wrapper {
     padding: 24px 24px 24px;
}

.order-button {
    color: black;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-width: 120px;
    padding-left: 48px;
    padding-right: 48px;
}

.invest-in-select {
    background-color: $darker-gray;
    border: 1px solid $darkish-gray;
    color: white;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 12px;
    transition: border-color 0.2s ease;
    height: 36px;
    width: 136px;
    > option {
        height: 36px;
        border-color: $darkish-gray;
    }
}

.invest-in-select:focus {
    border-color: $darkish-gray;

}

.stocks-header {
    border-bottom: 1px solid $darkish-gray;
    min-height: 52px;
    padding: 4px 24px 0;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.3;
    display: flex;
    align-items: center;
}

.position-item {
    display: flex;
    height: 60px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $darkish-gray;
    padding: 0px 24px;
    transition: background-color 0.2s;
}

.position-item:hover {
    background-color: $darkish-gray;
}

.position-item > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    > h4 {
        margin: 0;
    }
}

.position-item > div:last-child {
    align-items: flex-end;
}