@import "variables";

.auth-section {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    align-items: center;
}

.auth-image-div {
    background-image: image_url("session_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 1 50vw;
    height: 100vh;
    background-position: calc(-400px + 20vw + 0.25 * (1008px - 100vh))
}

.auth-form-div {
    flex: 1 1 50vw;
}

.inner-auth-form-div {
    display: block;
    height: 400px;
    margin-left: 52px;
    margin-right: 52px;
    max-width: 412px;
}

.auth-form {
    display: block;
    margin-top: 0em;
    h3 {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 12px;
    }
    
    a.logo-link {
        display: inline-flex;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        align-items: center;
        text-decoration: underline;
        padding-left: 5px;
        svg {
            display: none;
        }
    }

    .logo {
        display: inline;
    }

    .button-div {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
    }

    button {
        box-sizing: border-box;
        border-color: $green;
        background-color: $green;
        height: 48px;
        padding: 0 48px;
        line-height: 1.15;
        border-radius: 4px;
        width: 139px;

        
        p {
            font-size: 13px;
            line-height: 1.15;
            font-weight: 700;
            color: white;
            white-space: nowrap;
        }
    }

    .demo-button {
        background-color: rgb(227,233,237);
        background-color: rgb(227,233,237);
        color: rgb(111,120,126);
    }

    .demo-button:hover {
        background-color: rgb(180,189,194);
        background-color: rgb(180,189,194);
        color: rgb(227,233,237);
    }

    button:focus {
        border: 2px solid black;
    }
    button:hover {
        background-color: rgb(0,180,5);
        border-color: rgb(0,180,5);
    }
}

.input-div {
    margin-bottom: 60px;
    label {
        display: block;
        p {
        padding: 9px 0px;
        }
    }
    input {
        box-sizing: border-box;
        display: block;
        height: 48px;
        padding: 15px 20px;
        background-color: rgb(245,248,250);
        border-color: rgb(245,248,250);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        line-height: 1.5em;
        outline: 0;
        transition: border-color 0.2s ease 0s;
        width: 100%;
        font: 400 13px Arial;

    }
    input:hover {
        background-color: transparent;
    }
    
    input:focus {
        background-color: transparent;
        border-color: $green;
    }

    > p{
        padding: 14px 0px;
        font-weight: 500;
        color: $green;
    }
    a:focus {
        border: 2px solid black;
        border-radius: 4px;
    }
}



.session-errors{
    font-weight: 700;
}

@media only screen and (max-width: 650px) {
    .auth-image-div {
        display: none;
    }

    .auth-section {
        justify-content: center;
    }
    .auth-form-div {
        display: flex;
        justify-content: center;
    }
}